{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="section-products">
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>Medserv</h2>
                            </div>
                    </div>
            </div>



{% endblock content %}